extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Mike Hardy

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li jQuery
          li JSON
          li Node.js
          li HTML
          li CSS
          li Responsive Design
          li Git
          li NPM
          li APIs
        h6 Contact Info

        ul
          li 623-565-1577
          li amikehardy@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/a-mike-hardy/') LinkedIn
        a.button.expanded(href='https://github.com/aMikeHardy') GitHub
        a.button.expanded(href='https://twitter.com/aMikeHardy') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
